/* ===== * UNIVERSAL SELECTOR ===== */

* {
  box-sizing: border-box;
}

/* ===== GENERAL RULES ===== */

body {
  margin: 0;
  background-color: black;
  color: darkkhaki;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-family: "Merriweather", serif;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
}

/* ===== MENU BUTTONS ===== */

nav {
  display: flex;
  background-color: rgba(47, 47, 23, 0.934);
  justify-content: center;
  align-items: center;
}

nav > a {
  text-decoration: none;
  color: darkkhaki;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  margin: 2px 5px;
  padding: 14px 20px;
}

nav > a:hover {
  background: rgb(31, 30, 22);
  cursor: pointer;
}

/* ===== INDEX PAGE - INTRODUCTION AND QUOTE OF THE DAY ===== */

#top {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

#bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
}

/* ===== INDEX PAGE ANIMATION ===== */

.box {
  margin-top: 30px;
  align-self: flex-end;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  height: 200px;
  margin: 0 auto 0 auto;
  transform-origin: bottom;
  width: 200px;
}

.bounce-5 {
  animation-name: bounce-5;
  animation-timing-function: ease;
}
@keyframes bounce-5 {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(+50px);
  }
  50% {
    transform: scale(1, 1) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(+7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

/* ====== BLOG AND ARTICLES ====== */

/* WHOLE POST BOX RULES */

#blog {
  margin-top: 5vh;
  margin-bottom: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-right: 2.5px;
  margin-left: 3px;
}

#blog > h1 {
  font-size: 30px;
}

.postBlog {
  border-radius: 3px;
  border: 2px solid darkkhaki;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.pageBut {
  color: darkkhaki;
  background-color: rgba(47, 47, 23, 0.934);
  border: 2px solid darkkhaki;
  width: 40px;
  height: 40px;
  font-size: 20px;
  padding: 1vh;
  border-radius: 3px;
  margin-top: 2vh;
  margin-right: 10px;
}

.pageBut:hover {
  background-color: rgba(32, 32, 19, 0.934);
}

/* POST TITLE, AUTHOR AND DATE */

.articleDiv {
  background-color: rgba(47, 47, 23, 0.934);
  display: flex;
  flex-direction: column;
}

.articleDiv > h2,
h3,
h4 {
  text-align: center;
  margin-bottom: -5px;
}

.author > h3 {
  font-style: italic;
}

.articleCont {
  text-align: justify;
  margin-left: 0px;
  padding: 12px;
}

#viewsData {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 12px;
  gap: 4px;
}

/* INTERACTION NAV */

.interactionNav {
  border: 2px solid darkkhaki;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  display: flex;
}

.button {
  font-size: 20px;
  align-items: center;
  background-color: black;
  color: darkkhaki;
  border: 0px;
  padding: 1vh;
  margin-left: 4px;
}

.button:hover {
  cursor: pointer;
}

/* ===== ARTWORK ICONS / BUTTONS ===== */

nav.galleryNav {
    background-color: black;
    margin-bottom: 20px;
    width: auto;
    flex-wrap: wrap;
}

#galleryHead {
  font-size: 50px;
  margin-top: 6vh;
  margin-bottom: 10vh;
  text-align: center;
}

.orbisGal {
  margin-top: 4vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.galleryBut {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 10px;
  border: 2px solid darkkhaki;
  border-radius: 3px;
  background-color: rgba(47, 47, 23, 0.934);
}

div.galleryBut:hover {
  background-color: rgb(24, 23, 18);
}

div.galleryBut img {
  width: 20vh;
  height: auto;
}

div.desc {
  justify-content: center;
  text-align: center;
  font-size: 14px;
  padding: 6px 8px 8px 8px;
}

/* ===== ARTWORK FLEXBOX DESCRIPTIONS===== */

/* GENERAL RULES */

section.artInformation {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  border-radius: 3px;
  border: 2px solid darkkhaki;
  flex-wrap: wrap;
  margin-bottom: 4vh;
}

/* ===== ART FIRST INFO - TITLE AND SYMBOL ===== */

.artTitle {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.artTitle > h1 {
  font-size: 30px;
}

.artTitle > img {
  height: 10vh;
}

/* ===== ART SECOND INFO - IMAGE AND SPECS ===== */

/* GENERAL RULES */

div.artInfoFirst {
  /* Test */
  display: flex;
  justify-items: center;
  margin-bottom: 20px;
}

/* IMG BOX TO ENLARGE */

#artImg {
  /* Test */
  /* background-color: aqua; */
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 2.6vh;
  margin: 0px;
}

#artImg > a {
  border: 2px solid darkkhaki;
}

#artImg > a > img {
  display: flex;
  position: relative;
  height: 260px;
  width: auto;
}

#artImg > p {
  background-color: yellow;
  position: absolute;
  margin: 0px;
  margin-left: 17vh;
}

/* ART DESCRIPTION */

#artDescription {
  /* Test */
  /* background-color: aquamarine; */
  display: flex;
  margin-left: 14px;
  flex-direction: column;
  justify-content: center;
}

#artDescription > p {
  margin: 0px;
  font-size: 18px;
}

/* ===== ART THIRD INFO - HISTORY =====  */

div.artHistory {
  background-color: rgba(36, 36, 20, 0.934);
  display: flex;
  justify-content: center;
  text-align: justify;
  flex-direction: column;
  padding: 0px 12px 12px 11px;
  width: 120vh;
}

div.artHistory > h1 {
  text-shadow: 2px 2px black;
  text-align: center;
  margin-top: 4vh;
  margin-bottom: 0px;
}

/* ===== ART FOURTH INFO - 
CHART | LEANDER | GODS | RIVALS ===== */

#artChart {
  background-color: rgba(47, 47, 23, 0.934);
  display: flex;
  flex-wrap: wrap;
}

.chartSquare {
  /* Test Area */
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  width: 40vh;
  height: 35vh;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.chartSquare > img {
  height: 24vh;
  margin-top: 6vh;
}

.chartSquare > h1 {
  text-shadow: 2px 2px black;
  margin-top: -22vh;
  position: absolute;
}

.chartSquare > p {
  font-size: 18px;
  margin: 0px;
  margin-top: 12px;
  margin-bottom: -16px;
}

/* ===== ART BUTTON ADD IT TO CART ===== */

.buttonAddCart {
  width: max-content;
  padding: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-family: "Merriweather", serif;
  background-color: rgb(166, 36, 36);
  color: white;
  font-size: 16px;
  border: 0px;
  margin-top: 25px;
  margin-bottom: 15px;
}

/* ===== SEND US E-MAIL DIV ===== */

#emailForm {
  margin-top: 3vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

legend {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

fieldset {
  border-radius: 5px;
  border-color: darkkhaki;
  margin-top: 20px;
  margin-bottom: 30px;
}

/* ===== FORM INPUTS ===== */

input[type="text"] {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-family: "Merriweather", serif;
  padding: 2px 2px;
  margin: 8px 0px;
  width: 200px;
  height: 32px;
}

#lastName {
  margin-left: 3.1px;
}

input[type="email"] {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-family: "Merriweather", serif;
  margin-top: 8px;
  margin-bottom: 25px;
  width: 274px;
  height: 32px;
}

fieldset > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

textarea {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-family: "Merriweather", serif;
  padding: 5px 5px;
  margin: 8px 0px;
  width: 345px;
  height: 250px;
}

/* ===== SUBMIT BUTTON ===== */

input[type="submit"] {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-family: "Merriweather", serif;
  border: 2px solid darkkhaki;
  background-color: black;
  padding: 8px 2px;
  font-size: 15px;
  font-weight: bold;
  width: 90px;
  color: darkkhaki;
  text-align: center;
  border-radius: 3px;
  margin-bottom: 10px;
}

input[type="submit"]:hover {
  background-color: rgb(31, 30, 22);
  color: rgb(213, 206, 105);
  border-radius: 3px;
  box-shadow: 5px 2px 2px rgba(0, 0, 0, 0.13);
  cursor: pointer;
}

/* ===== ABOUT US DIV ===== */

#aboutUs {
  background-color: rgba(47, 47, 23, 0.934);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2vh;
  margin-bottom: 6vh;
  margin-right: 3px;
  margin-left: 3px;
}

.usImg {
  flex-direction: column;
}

.usImg > h1 {
  text-align: center;
}

.usImg > img {
  margin-top: -2vh;
  text-align: center;
}

div > p {
  text-align: justify;
  padding: 4px;
  margin-right: 1px;
  margin-top: 4vh;
  font-size: 16px;
  max-width: 120vh;
}

/* ===== FOOTER ===== */

footer {
  text-align: center;
  margin-top: auto;
}

p > a {
  color: darkkhaki;
}

p > a:hover {
  color: rgb(230, 221, 105);
}

/* ===== Media Queries ===== */

@media screen and (max-width: 768px) {
  /* MAIN NAV */
  nav {
    flex-direction: column;
    align-items: center;
  }

  /* ART NAV */
  nav.galleryNav {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: -2vh;
  }

  div.desc {
    font-size: 12px;
  }

  .galleryBut {
    align-items: center;
  }

  .galleryBut > a > img {
    width: 100px;
  }

  /* SECTION ART INFORMATION RESPONSIVE */

  .artInformation {
    width: 355px;
    margin: 0px;
    margin-top: 20px;
  }

  #galleryHead {
    font-size: 38px;
    margin-bottom: 20px;
  }

  /* FIRST INFO - TITLE */

  .artTitle {
    text-align: center;
    width: 20px;
  }

  .artTitle > img {
    height: 100px;
    justify-items: center;
  }

  /* SECOND INFO - ART DESCRIPTION */

  #artImg > a > img {
    width: 300px;
    height: auto;
    margin: 0px;
  }

  #artImg > p {
    margin-left: 84px;
  }

  .artInfoFirst {
    flex-direction: column;
    align-items: center;
  }

  #artDescription {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 13px;
  }

  #artDescription > p {
    font-size: 16px;
    text-align: center;
    
  }

  /* THIRD INFO - ART HISTORY */

  div.artHistory {
    width: 351px;
    margin: 0px;
  }

  /* FOURTH INFO - ART CHART */

  #artChart {
    align-items: center;
    justify-items: center;
    width: 351px;   
  }

  .chartSquare {
    margin-left: 0vh;
  }

  .chartSquare > h1 {
    font-size: 26px;
  }
}
