/* ===== * UNIVERSAL SELECTOR ===== */

* {
    box-sizing: border-box;
}

/* ===== GENERAL RULES ===== */

body {
    margin: 0;
    background-color: black;
    color: darkkhaki;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-family: "Merriweather", serif;
    min-height: 100vh;                                                                                                                                                                                                                                           
}

main {
    display: flex;
    flex-direction: column;
}

/* ===== MENU BUTTONS ===== */

nav {
    display:flex;
    background-color: rgba(47, 47, 23, 0.934);
    justify-content: center;
    align-items: center;
    }

nav > a {
    text-decoration: none;
    color: darkkhaki;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    margin: 2px 5px;
    padding: 14px 20px;
}

nav > a:hover {
    background: rgb(31, 30, 22);
    cursor: pointer;
}

/* ===== INDEX PAGE - INTRODUCTION AND QUOTE OF THE DAY ===== */

#top {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

#bottom {
    display:flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}    

/* ===== INDEX PAGE ANIMATION ===== */

.box {
    margin-top: 30px;
    align-self: flex-end;
    animation-duration: 2s;
    animation-iteration-count:infinite;
    height: 200px;
    margin: 0 auto 0 auto;
    transform-origin: bottom;
    width: 200px;
}

.bounce-5 {
    animation-name: bounce-5;
    animation-timing-function: ease;
}
@keyframes bounce-5 {
    0%   { transform: scale(1,1)    translateY(0); }
    10%  { transform: scale(1.1,.9) translateY(0); }
    30%  { transform: scale(.9,1.1) translateY(+50px); }
    50%  { transform: scale(1,1)    translateY(0); }
    57%  { transform: scale(1,1)    translateY(+7px); }
    64%  { transform: scale(1,1)    translateY(0); }
    100% { transform: scale(1,1)    translateY(0); }
}


/* ====== BLOG AND ARTICLES ====== */

/* WHOLE POST BOX RULES */

#blog {
    margin-top: 5vh;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-right: 2.5px;
    margin-left: 3px;    
}

.postBlog {
    border-radius: 3px;
    border: 2px solid darkkhaki;
    display: flex;
    flex-direction: column;
    /* max-width: 100vh; */
    flex-wrap: wrap;
}

#moreArticles {
    color: darkkhaki;
    background-color: rgba(47, 47, 23, 0.934);
    border: 2px solid darkkhaki;
    width: 40px;
    height: 40px;
    font-size: 20px;
    padding: 1vh;
    border-radius: 3px;
    margin-top: 2vh;
}

/* POST TITLE, AUTHOR AND DATE */

.author {
    background-color: rgba(47, 47, 23, 0.934);
    display: flex;
    flex-direction: column;
}

.author > h2, h3, h4 {
    text-align: center;
    margin-bottom: -5px;
}

.author > h3 {
    font-style: italic;
}

.articleCont {
    text-align: justify;
    margin-left: 0px;
    padding: 12px;
}

#viewsData {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 12px;
    gap: 4px;
}

/* INTERACTION NAV */

.interactionNav {
    border: 2px solid darkkhaki;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    display:flex;
}

.button {
    font-size: 20px;
    align-items: center;
    background-color: black;
    color: darkkhaki;
    border: 0px;
    padding: 1vh;
    margin-left: 4px;
}

.button:hover {
    cursor: pointer;
}

/* ===== ARTWORK ===== */

#galleryHead {
    font-size: 24px;
    margin-top: 5vh;
    text-align: center;
}

.orbisgal {
    margin-top: 4vh;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

div.gallery {
    display:flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
}
  
div.gallery:hover {
    border: 1px solid #777;
    background-color: darkkhaki;
    color: black;
}
  
div.gallery img {
    width: 40vh;
    height: 40vh;
}
  
div.desc {
    text-align: center;
    font-size: 14px;
    padding: 4px 8px 8px 8px;
}

/* ===== ABOUT US DIV ===== */

#aboutUs {
    background-color: rgba(47, 47, 23, 0.934);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10vh;
    margin-bottom: 6vh;
    margin-right: 3px;
    margin-left: 3px;    
}

.usImg {
    flex-direction: column;
}

.usImg > h1 {
    text-align: center;
}

.usImg > img {
    margin-top: -2vh;
    text-align: center;
}

div > p {
    text-align: justify;
    padding: 4px;
    margin-right: 1px;
    margin-top: 4vh;
    font-size: 16px;
    max-width: 120vh;
}

/* ===== SEND US E-MAIL DIV ===== */

#emailForm {
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    }

legend {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

fieldset {
    border-radius: 5px;
    border-color: darkkhaki;
    margin-top: 20px;
    margin-bottom: 30px;
    }

/* ===== FORM INPUTS ===== */

input[type="text"] {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-family: "Merriweather", serif;
    padding: 2px 2px;
    margin: 8px 0px;
    width: 200px;
    height: 32px;
    
}

#lastName {
    margin-left: 3.1px;
}


input[type="email"] {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-family: "Merriweather", serif;
    margin-top: 8px;
    margin-bottom: 25px;
    width: 274px;
    height: 32px;
}

fieldset > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

textarea {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-family: "Merriweather", serif;
    padding: 5px 5px;
    margin: 8px 0px;
    width: 345px;
    height: 250px;
}

/* ===== SUBMIT BUTTON ===== */

input[type=submit] {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-family: "Merriweather", serif;
    border: 2px solid darkkhaki;
    background-color: black;
    padding: 8px 2px;
    font-size: 15px;
    font-weight: bold;
    width: 90px;
    color: darkkhaki;
    text-align: center;
    border-radius: 3px;
    margin-bottom: 10px;
}

input[type=submit]:hover {
        background-color:  rgb(31, 30, 22);
        color: rgb(213, 206, 105);
        border-radius: 3px;
        box-shadow: 5px 2px 2px rgba(0, 0, 0, 0.13);
        cursor: pointer;
    }


/* ===== FOOTER ===== */

footer {
    text-align: center;
    margin-top: auto;
}

p > a {
    color: darkkhaki;
}

p > a:hover {
    color: rgb(230, 221, 105);
}

/* ===== Media Queries ===== */

@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

}